Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends:
Vcs-Git: git@github.com:sharmana/sharmana-server.git
Vcs-browser: https://github.com/sharmana/sharmana-server
Maintainer: lanwen <lanwen@user.github.com>
Description: [[description]]
Distribution: development